<div class="container page-wrap">

  <div class="row">

    <div class="col-sm-12" id="title">
      <a id="page-title" href="http://tranquil-beach-33922.herokuapp.com/"><h1>Sequelize Burger App</h1></a>
      <hr id="yellow-line">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 picture-column">
      <!--      Picture HERE-->
      <img src="/img/burger.gif">

    </div>
  </div>

  <div class="row burgers-form">


    <div class="col-xs-6">
      <h2 id="columns-title">Eat one of These<hr></h2>

      <div id="burger-list">

        {{#each hamburgers}}

        <form action="/update?_method=PUT" method="POST">

          <input type="hidden" name="id" value="{{this.id}}"> {{#unless this.devoured}}
          <div class="col-sm-8">

            <h4>{{this.id}} - {{this.burger_name}}</h4>
            <!--          <br>-->
          </div>

          <div class=" col-md-4">
            <br>
            <button class="btn btn-default eatme-button" type="submit"><strong>Eat Me !</strong></button>

          </div>

          {{/unless}}

        </form>

        {{/each}}

      </div>

    </div>

    <div class="col-xs-6 devoured-column">

      <div class="col-sm-12">
        <h2 id="columns-title">These are Gone !<hr></h2>
        <div id="eaten-list">

          {{#each hamburgers}} {{#if this.devoured}}
          <div class="col-xs-8">
            <h4>{{this.id}}. {{this.burger_name}}</h4>
          </div>
          {{/if}} {{/each}}
        </div>

      </div>

    </div>

  </div>

  <div class="row" id="burgerButton">
    <div class="col-xs-4 col-xs-offset-4" id="submit-burger">
      <h2>Add a Burger</h2>

      <form method="POST" action="/create" class="button-size">


        <div class="input-group">
          <input type="text" name="burger" class="form-control" placeholder="Enter a Burger "></input>
          <span class="input-group-btn">
          <button class="btn btn-default burgerme-button" type="submit"><strong>Burger Me!</strong></button>
        </span>
        </div>

      </form>
    </div>
  </div>

</div>

<div class=" row site-footer">
  <h4>Carlos Gonzalez</h4>
  <hr id="yellow-line">
</div>